# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files (keep secrets out of git)
.env
.env*.local

# supabase
/supabase/.temp

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
